# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# env
.env
.env.local
.env.production

# prisma
/prisma/*.db

# misc
.DS_Store
*.pem
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# editors
.vscode/*
!.vscode/extensions.json
